include ./pug/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatiable" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title HTML CSS Master
        link(rel="stylesheet" href="./app.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet")
    body
        header
        main
            section.top-tours
                .container
                    h2.heading Top Bangkok Tours
                    .tour-list
                        +tourItem('./images/img1.png 2x', 'From $40', 'Thailands Ayutthaya Temples Cruise from Bangkok Thailands Ayutthaya Temples Cruise from Bangkok Thailands Ayutthaya Temples Cruise from Bangkok', 4.8, 12, '9 hours', 61)
                        +tourItem('./images/img2.png 2x', 'From $70', 'FLoating Markets Day Trip from Bangkok', 4.7, 15, '16 hours', 65)
                        +tourItem('./images/img3.png 2x', 'From $60', 'Bangkok Dinner Cruise on the Chao Phraya River', 4.9, 14, '20 hours', 68)
            section.popular
                .container
                    h2.heading Popular things to do in Bangkok
                    .popular-list
                        +popularItem("https://plus.unsplash.com/premium_photo-1661929249555-0fa9921b6aef?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cG9wdWxhciUyMHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D", "Sep 28 10:00 AM - 1:00 PM", "The Grand Palace", 4.8, 12)
                        +popularItem("https://images.unsplash.com/photo-1601000984289-556777587643?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cG9wdWxhciUyMHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D", "May 20 09:00 AM - 2:00 PM", "Chatuchak Weekend", 4.9, 14)
                        +popularItem("https://images.unsplash.com/photo-1566682372561-2273e5226306?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cG9wdWxhciUyMHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D", "Oct 16 08:00 AM - 3:00 PM", "Wat Pho", 5.0, 30)
                        +popularItem("https://images.unsplash.com/photo-1735446918160-af0b896b7a89?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHBvcHVsYXIlMjB0cmF2ZWx8ZW58MHx8MHx8fDA%3D", "Dec 10 07:00 AM - 4:00 PM", "Temple Of Dawn", 4.7, 18)
            section.gem
                .container
                    h2.heading Hidden gems in Bangkok
                    .gem-list
                        each val in ["https://images.unsplash.com/photo-1730888604184-ba84e5a1e4ac?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzV8fHBvcHVsYXIlMjB0cmF2ZWx8ZW58MHx8MHx8fDA%3D", "https://images.unsplash.com/photo-1743699537171-750edd44bd87?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fHBvcHVsYXIlMjB0cmF2ZWx8ZW58MHx8MHx8fDA%3D", "https://images.unsplash.com/photo-1670555384000-8f1d4d91b177?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDd8fHBvcHVsYXIlMjB0cmF2ZWx8ZW58MHx8MHx8fDA%3D", "https://images.unsplash.com/photo-1498307833015-e7b400441eb8?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTN8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D","https://plus.unsplash.com/premium_photo-1676139860466-8b8f71c0a737?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTF8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D"]
                            .gem-item
                                img(src= val, alt="")
            section.diamond
                .container
                    h2.heading Hidden gems in Bangkok
                    .diamond-list
                        each val in ["https://plus.unsplash.com/premium_photo-1661963188068-1bac46e28727?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8YmFuZ2tva3xlbnwwfHwwfHx8MA%3D%3D", "https://images.unsplash.com/photo-1510379872535-9310dc6fd6a7?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmFuZ2tva3xlbnwwfHwwfHx8MA%3D%3D", "https://images.unsplash.com/photo-1532079563951-0c8a7dacddb3?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGJhbmdrb2t8ZW58MHx8MHx8fDA%3D", "https://plus.unsplash.com/premium_photo-1661963804020-e93b8d27139e?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJhbmdrb2t8ZW58MHx8MHx8fDA%3D"]
                            .diamond-item
                                .diamond-image
                                    img(src= val, alt="")
                                    .diamond-content
                                        h3.diamond-title Bangkok Trip
                                        span.diamond-subtitle 27 Sep, 2025
                    a.button.diamond-all(href="#") Explore All
        footer.footer
            .container.footer-container
                .footer-top
                    .footer-columns
                        .footer-column
                            a.footer-logo(href="/")
                                img(srcSet="./images/logo.png 2x", alt="Airtrav")
                            p.footer-desc Similarly, a loan taken out to buy a car may be secured by the car. The duration of the loan.
                            form.subscribe(action="" autocomplete)
                                input.subscribe-email(type="email" placeholder="Enter your email")
                                button.subscribe-button(type="submit")
                                    img(srcSet="./images/arrow.png 2x", alt="icon-arrow-right")
                        .footer-column
                            h4.footer-heading Services
                            ul.footer-links
                                each val in ["Trip Planner", "Tour Planning", "Tour Guide", "Tour Package", "Tour advice"]
                                    li.footer-item
                                        a.footer-link(href="#")= val
                        .footer-column
                            h4.footer-heading Services
                            ul.footer-links
                                each val in ["Trip Planner", "Tour Planning", "Tour Guide", "Tour Package", "Tour advice"]
                                    li.footer-item
                                        a.footer-link(href="#")= val
                        .footer-column
                            h4.footer-heading Services
                            ul.footer-links
                                each val in ["Trip Planner", "Tour Planning", "Tour Guide", "Tour Package", "Tour advice"]
                                    li.footer-item
                                        a.footer-link(href="#")= val
                .footer-bottom
                    p.footer-copyright Copyright© 2025 UIHUT LLC. All rights reserved
                    .footer-sn-list
                        each s in ["./images/icon-fb.svg", "./images/icon-linkedin.svg", "./images/icon-twitter.svg", "./images/icon-instagram.svg"]
                            .footer-sn-item
                                a.footer-sn-link(href="#")
                                    img(src= s, alt="img-social")